{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% import _self as tree %}
{% macro pages(pages, admin, rootPages) %}
    <ul{% if rootPages %} class="page-tree"{% endif %}>
        {% for page in pages %}
            <li>
                <div class="page-tree__item">
                    {% if page.parent %}<i class="fa fa-caret-right"></i>{% endif %}
                    <i class="fa page-tree__item__is-hybrid fa-{% if page.isHybrid %}gears{% else %}code{% endif %}"></i>
                    {% if page.lvl != 0 %}
                        <a class="label label-default pull-right treeMoveAction" data-toggle="tooltip" title="Déplacer" href="{{ admin.generateObjectUrl('move', page) }}"><i class="fa fa-arrows"></i></a>
                    {% endif %}
                    <a class="page-tree__item__edit" href="{{ admin.generateObjectUrl('edit', page) }}">{{ page.title }}</a>
                    {% if page.route != null %}
                        <i class="text-muted">{% if page.root.site.locale is not empty and not page.root.site.hostMultilingual %}/{{ page.root.site.locale }}{% endif %}{{ page.route.path }}</i>
                    {% endif %}
                    <a class="label label-default pull-right" data-toggle="tooltip" title="Editer" href="{{ admin.generateObjectUrl('edit', page) }}"><i class="fa fa-pencil"></i></a>
                    <span class="label label-{% if page.isActive %}success{% else %}danger{% endif %} pull-right">Active</span>
                    {% if page.declinations.count > 0 %}
                        <span class="label label-primary pull-right">{{ page.declinations.count }} {{ page.declinations.count > 1 ? 'Déclinaisons' : "Déclinaison" }}</span>
                    {% endif %}
                    {% if app.user.hasRole('ROLE_ADMIN_CMS') and page.route is not null %}
                        <span><code class="pull-right">{{ page.route.name }}</code></span>
                    {% endif %}
                </div>
                {% import _self as macro %}
                {% if page.children|length %}
                    {{ macro.pages(page.childrenRight, admin, false) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% extends base_template %}

{%- block actions -%}
    {% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}
{%- endblock -%}

{%- block tab_menu -%}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass': 'active',
        'template': get_global_template('tab_menu_template')
    }, 'twig') }}
{%- endblock -%}

{% block title %}
    {{ admin.isChild and admin.parent.subject ? 'title_edit'|trans({'%name%': admin.parent.toString(admin.parent.subject)|truncate(15) }, 'SonataAdminBundle') : '' }}
{% endblock %}

{% block navbar_title %}
    {{ admin.isChild and admin.parent.subject ? 'title_edit'|trans({'%name%': admin.parent.toString(admin.parent.subject)|truncate(100) }, 'SonataAdminBundle') : '' }}
{% endblock %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">

        {# Add a margin if no pager to prevent dropdown cropping on window #}
        <div class="box box-primary"{% if admin.datagrid.pager.lastPage == 1 %} style="margin-bottom: 100px;"{% endif %}>
            <div class="box-body{% if admin.datagrid.results|length > 0 %} table-responsive no-padding{% endif %}">
                <div class="box-header"></div>
                {% set pages = admin.datagrid.results %}
                <div class="box-content">
                    {{ tree.pages(pages, admin, true) }}
                </div>

            </div>
        </div>
    </div>
    {% include '@WebEtDesignCms/admin/nestedTreeMoveAction/moveModal.html.twig'%}
{% endblock %}
