{% macro prototypes_row_attr(prototypes, prototypeNames) %}
    {% set rows = {} %}
    {% for key, form in prototypes %}
        {% set rows = rows|merge({(key): form_row(form)}) %}
    {% endfor %}

    {% set names = {} %}
    {% for key, name in prototypeNames %}
        {% set names = names|merge({(key): name}) %}
    {% endfor %}
    data-cms-adbc-prototypes-value="{{ rows|json_encode|e('html_attr') }}"
    data-cms-adbc-prototype-names-value="{{ names|json_encode|e('html_attr') }}"
{% endmacro %}

{% block admin_cms_dynamic_block_collection_widget %}
    <div data-controller="cms-adbc" {{ allow_add ? _self.prototypes_row_attr(form.vars.prototypes, form.vars.prototypeNames) : '' }} data-cms-adbc-max-value="{{ max }}">
        <div class="box-group" id="{{ form.vars.id }}_accordion">
            {{ form_widget(form, {attr: { 'data-cms-adbc-target': 'collection' }}) }}
        </div>
        {% if allow_add %}
            <div class="block-selector-container form-inline">
                <div class="form-group">
                    {{ form_widget(form.vars.block_selector) }}
                </div>
                <button type="button" data-action="click->cms-adbc#add"
                        class="btn btn-primary" data-cms-adbc-target="addButton"
                        {% if max > 0 and form.vars.value|length == max %} disabled {% endif %}
                >
                    <i class="fa fa-plus"></i></button>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block admin_cms_dynamic_block_loader_row %}
    {% set unique_key = form.parent.parent.vars.name ~ '_' ~ form.parent.vars.name ~ '_' ~ form.vars.name ~ '_' ~ random() %}
    <div class="panel box" data-cms-adbc-target="item">
        <div class="box-header with-border">
            <h4 class="box-title cursor-pointer ">
                <a data-toggle="collapse" href="#{{ unique_key }}_collapse">
                    {{- block('form_label') -}}
                </a>
                {% if block_config and block_config.help is not empty %}
                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="{{ block_config.help }}"></i>
                {% endif %}
            </h4>
            <div class="actions">
                <button type="button" class="btn btn-default" data-action="click->cms-adbc#moveUp" data-cms-adbc-target="arrowUp">
                    <i class="fa fa-arrow-up"></i></button>
                <button type="button" class="btn btn-default" data-action="click->cms-adbc#moveDown" data-cms-adbc-target="arrowDown">
                    <i class="fa fa-arrow-down"></i></button>
                <button type="button" class="btn btn-danger" data-action="click->cms-adbc#del">
                    <i class="fa fa-trash"></i></button>
            </div>
        </div>
        <div id="{{ unique_key }}_collapse" class="panel-collapse collapse {% if block_config and block_config.open %} in {% endif %}">
            <div class="box-body">
                {{- block('form_widget') -}}
            </div>
        </div>
    </div>
{% endblock %}

{% block cms_blocks_block_row %}
    {% for child in form.children %}
        {% set config = block_configs[child.vars.name] %}
        {% set block = blocks[child.vars.name] %}
        {% if block.options['use_accordion'] ?? false %}
            {% set unique_key = form.vars.unique_block_prefix ~ '_' ~ form.parent.parent.vars.name ~ '_' ~ form.parent.vars.name ~ '_' ~ form.vars.name ~ '_' ~ config.code ~ '_' ~ random() %}
            <div class="panel box" style="margin-bottom: 10px;">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" href="#{{ unique_key }}_collapse">
                            {{ form_label(child) }}
                        </a>
                        {% if config and config.help is not empty %}
                            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="{{ config.help }}"></i>
                        {% endif %}
                    </h4>
                </div>
                <div id="{{ unique_key }}_collapse" class="panel-collapse collapse {% if config and config.open %} in {% endif %}">
                    <div class="box-body">
                        {{ form_row(child) }}
                    </div>
                </div>
            </div>
        {% else %}
            {% if block.options.row_col_class is not null %}
                <div class="{{ block.options.row_col_class }}">
                    {{ form_label(child) }}
                    {{ form_widget(child) }}
                </div>
            {% elseif block.options.use_row %}
                <div class="row">
                    {{ form_row(child) }}
                </div>
            {% else %}
                {{ form_row(child) }}
            {% endif %}
        {% endif %}
        {% if block.options['new_row_on_next_block'] ?? false %}
            <div class="clearfix"></div>
        {% endif %}
    {% endfor %}
{% endblock %}
