{% macro prototypes_row_attr(prototypes) %}
    {% set rows = {} %}
    {% for key, form in prototypes %}
        {% set rows = rows|merge({(key): form_row(form)}) %}
    {% endfor %}
    data-adbc-prototypes-value="{{ rows|json_encode|e('html_attr') }}"
{% endmacro %}

{% block admin_cms_dynamic_block_collection_row %}
    <div data-controller="adbc" {{ _self.prototypes_row_attr(form.vars.prototypes) }}>
        <div class="box-group" id="{{ form.vars.id }}_accordion" data-adbc-target="collection">
            {{ form_widget(form) }}
        </div>
        <div class="form-inline">
            <div class="form-group">
                {{ form_widget(form.vars.block_selector) }}
            </div>
            <button type="button" data-action="click->adbc#add" class="btn btn-primary">
                <i class="fa fa-plus"></i></button>
        </div>
    </div>
{% endblock %}

{% block admin_cms_dynamic_block_collection_widget %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{% block admin_cms_dynamic_block_loader_row %}
    <div class="panel box" data-adbc-target="item">
        <div class="box-header with-border">
            <h4 class="box-title">
                <a data-toggle="collapse" data-parent="#{{ form.parent.vars.id }}_accordion" href="#{{ form.vars.id }}_collapse" aria-expanded="true" class="">
                    {{ form_label(form) }}
                </a>
            </h4>
            <div class="actions">
                <button type="button" class="btn btn-danger" data-action="click->adbc#del">
                    <i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-default" data-action="click->adbc#moveUp" data-adbc-target="arrowUp">
                    <i class="fa fa-arrow-up"></i></button>
                <button type="button" class="btn btn-default" data-action="click->adbc#moveDown" data-adbc-target="arrowDown">
                    <i class="fa fa-arrow-down"></i></button>
            </div>
        </div>
        <div id="{{ form.vars.id }}_collapse" class="panel-collapse collapse" style="">
            <div class="box-body">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock %}
