<div class="col-md-2 position-field">
    <button type="button" class="sortable-button btn btn-link" title="{{ 'move_to_bottom'|trans([], 'admin') }}" data-type="bottom">
        <i class="fa fa-arrow-circle-down"></i>
    </button>
    <button type="button" class="sortable-button btn btn-link" title="{{ 'move_down'|trans([], 'admin') }}" data-type="down">
        <i class="fa fa-chevron-circle-down"></i>
    </button>
    <button type="button" class="sortable-button btn btn-link" title="{{ 'move_up'|trans([], 'admin') }}" data-type="up">
        <i class="fa fa-chevron-circle-up"></i>
    </button>
    <button type="button" class="sortable-button btn btn-link" title="{{ 'move_to_top'|trans([], 'admin') }}" data-type="top">
        <i class="fa fa-arrow-circle-up"></i>
    </button>
    {{ form_widget(form.position) }}
</div>
