{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        <img src="{{ asset('bundles/webetdesigncms/logo_wd_admin.png') }}">
        <span class="sf-toolbar-value">CMS</span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>Page</b>
            <span>{{ collector.page }}</span>
        </div>

        <div class="sf-toolbar-info-piece">
            <b>Page id </b>
            <span>{{ collector.pageId }}</span>
        </div>

        <div class="sf-toolbar-info-piece">
            <b>Template</b>
            <span>{{ collector.template }}</span>
        </div>

        <div class="sf-toolbar-info-piece">
            <b>Twig template</b>
            <span>{{ collector.twigTemplate }}</span>
        </div>


    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false }) }}
{% endblock %}
