<!-- small box -->
<a href="{{ admin.generateUrl('list') }}">
    <div class="small-box small-box-crud" style="background-color: {{ settings.color }}">
        <div class="crud-name">
            <p>
                {{ settings.text }}
            </p>
            <span>
                <i class="fa {{ settings.icon }}"></i>
            </span>
        </div>
        <div class="small-box-footer">
            {{ settings.button }}
        </div>
    </div>
</a>

